<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="Myconnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\SVU\mycorses\PR1\ISE_PR1_S17_C9\ISE_PR1_S17_C9_Project\WebSite\App_Data\Database.mdf;Integrated Security=True"
            providerName=".NET Framework Data Provider for SQL Server" />
        <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />

    </system.web>

</configuration>
